*{
    margin: 0;
    padding: 0;
    list-style: none;
}


header{
    padding: 25px;
    background-color:#a4917a;
    display: flex;
    justify-content: space-between;
    
}
   
.div-header1 img{
    width: 100px;
    height: auto;
    margin-left: 30px;
   
}

   


.div-header2 button{
    border-radius: 10px;
    width: 150px;
    height: 40px;
    background-color: rgb(174, 255, 0);
    margin: 30px;
}
.div-header2 button:hover{
    background-color:black;
    color:  white;
    width: 170px;
    height: 40px;
    border-color: white;
    transition: 0.9s;
    
   
}


    

.sessão-1{
    background-image: url(imagens/barber-6818694_1280.jpg);
    padding: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: space-around;
   
}
.sessão-1 h1{
    color: aliceblue;
    font-size: 30px;
    font-weight: 30px;
    align-items: center;
}
.sessão-1 p{
    color: aliceblue;
    font-size: 20px;
    font-weight: 20px;
    align-items: center;
}

.sessão-2{
    padding: 200px;
    display: flex;
    justify-content: space-evenly;
}
.sessão-2 img{
   width: 320px;
   right: auto;
  

}
.sessão-2 h2{
    color: black;
    margin: 30px;
    font-size: 30px;
    
}
.sessão-2 p{
    color: black;
    margin: 20px;
    font-size: 20px;
    font-weight: 400px;
}

.sessão-3{
    background-image: url(imagens/barber-shop-5212059_1280.jpg);
    background-attachment: fixed;
    padding: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
}
.sessão-3 h2{
    font-size: 40px;
    font-weight: 40px;
    color: white;
}
.sessão-3 p{
    font-size: 30px;
    font-weight: 30px;
    color: white;
}



footer{
    background-color:black;
    padding: 15px;
    justify-content: space-evenly;
    display: flex;
    
}

footer nav ul{
    display: flex;
}
footer nav ul li{
    margin: 10px;
    list-style: none;
}
footer nav ul a{
    color:rgb(174, 255, 0);
    text-decoration: none;
}
footer nav ul a:hover{
    color: white;
    transition: 0.8s;
   
}
footer i{
    padding: 10px;
    color: white;
    font-size: 50px;
    border-radius: 15px;
}
footer i:hover{
    background-color:  rgb(174, 255, 0);
    transition: 0,7s;
    color: black;
    padding: 15px;
    transition: 0.8s;

}